.zoom {
  width: 400px;
  height: 350px;
  overflow: hidden;
}

.immagine {
  transition: transform 0.4s;
}

.photo:hover {
  transform: scale(1.1);
}

.text-card {
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  text-shadow: 0px 1px 0px black;
}

.btn1 {
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: transparent;
  color: #f0dcc7;
  border-radius: 25px;
  font-weight: bold;
  border: 3px solid rgba(228, 122, 25);
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
  font-family: "Mulish", sans-serif;
}
.btn1:hover {
  background: rgba(228, 122, 25, 0.7);
  font-weight: bold;
  text-shadow: 0px 0px 0px black;
  border: 3px solid #442607;
  color: #f0dcc7;
  border-radius: 0px 0px 25px 25px;
}
